#root {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

.handles {
  display: flex;
  justify-content: center;
}
.handles ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: inherit;
}
.handles img {
  height: 2.5rem;
  width: 2.5rem;
}
.selected {
  color: #0b50ff;
}
.navlist li:hover,
.navlist li:focus {
  color: #0b50ff;
  cursor: pointer;
}
